<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestCardApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestCardApi.Properties.Settings>
            <setting name="LargeImageViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CardListViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MiniImageViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IngameImageViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReferencesViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CardListViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ReferencesViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CardDetailViewerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CardDetailViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LargeImageViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MiniImageViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IngameImageViewerSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TestCardApi.Properties.Settings>
    </userSettings>
</configuration>